name: 'agrohub'
services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    container_name: 'ah-keycloak'
    env_file:
      - ./docker.env
    command: start-dev
    depends_on:
      - postgres
    ports:
      - '3001:8080'
    networks:
      - keycloak_net
  postgres:
    container_name: 'ah-postgres'
    image: postgis/postgis:17-master
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    env_file:
      - ./docker.env
    networks:
      - keycloak_net
      - qgis_net
      - service_net
  qgis:
    container_name: 'ah-qgis'
    image: kartoza/qgis-server:latest
    ports:
      - '8080:80'
    env_file:
      - ./qgis.docker.env
    volumes:
      - ./data/qgis:/projects
    depends_on:
      - postgres
    networks:
      - qgis_net
  qgis-desktop:
    image: kartoza/qgis-desktop:latest
    ports:
      - '3009:80'
    environment:
      - DISPLAY=:99
    volumes:
      - ./data/qgis:/projects
    networks:
      - qgis_net
#  ollama:
#    image: ollama/ollama:latest
#    container_name: 'ah-ollama'
#    ports:
#      - '11434:11434'
#    volumes:
#      - ./ollama:/root/.ollama
#    env_file:
#      - ./docker.env
#    networks:
#      - llm_net
#  ollama-ui:
#    image: ghcr.io/open-webui/open-webui:main
#    container_name: 'ah-ollama-ui'
#    volumes:
#      - ./ollama/ollama-webui:/app/backend/data
#    depends_on:
#      - ollama
#    ports:
#      - 8080:8080
#    env_file:
#      - ./docker.env
#    networks:
#      - llm_net
  auth-gate:
    container_name: 'ah-auth-gate'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-auth-gate:latest
    ports:
      - '4000:4000'
    depends_on:
      - auth-proxy
    networks:
      - service_net
      - keycloak_net
  auth-proxy:
    container_name: 'ah-auth-proxy'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-auth-proxy:latest
    ports:
      - '4002:4002'
    depends_on:
      - keycloak
    networks:
      - service_net
      - keycloak_net
  fields-service:
    container_name: 'ah-fields-service'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-fields-service:latest
    ports:
      - '4003:4003'
    depends_on:
      - auth-gate
    networks:
      - service_net
  culture-service:
    container_name: 'ah-culture-service'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-culture-service:latest
    ports:
      - '4005:4005'
    depends_on:
      - auth-gate
    networks:
      - service_net
  ground-service:
    container_name: 'ah-ground-service'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-ground-service:latest
    ports:
      - '4006:4006'
    depends_on:
      - auth-gate
    networks:
      - service_net
volumes:
  postgres-data:
networks:
  qgis_net:
    driver: bridge
  keycloak_net:
    driver: bridge
  llm_net:
    driver: bridge
  service_net:
    driver: bridge