name: 'agrohub'
services:
  traefik:
    image: traefik:v3.6.1
    container_name: 'ah-traefik'
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.le.acme.httpchallenge=true"
      - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.le.acme.email=admin@agrohub.ru"
      - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"
      - "--log.level=INFO"
      - "--api.insecure=true"
      - "--accesslog=true"
      - "--accesslog.bufferingsize=100"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/run/docker.sock:ro"
      - "./traefik/letsencrypt:/letsencrypt"
    networks:
      - service_net
    restart: always
  nginx:
    image: nginx:stable
    container_name: 'ah-nginx'
    volumes:
      - ./frontend/dist:/usr/share/nginx/html
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`agrohub.miss-click.ru`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=le"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
    networks:
      - service_net
  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    container_name: 'ah-keycloak'
    env_file:
      - ./docker.env
    command: start-dev
    depends_on:
      - postgres
    ports:
      - '3001:8080'
    networks:
      - keycloak_net
  postgres:
    container_name: 'ah-postgres'
    image: postgis/postgis:17-master
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    env_file:
      - ./docker.env
    networks:
      - keycloak_net
      - qgis_net
      - service_net
  qgis:
    container_name: 'ah-qgis'
    image: kartoza/qgis-server:latest
    ports:
      - '8080:80'
    env_file:
      - ./qgis.docker.env
    volumes:
      - ./data/qgis:/projects
    depends_on:
      - postgres
    networks:
      - qgis_net
  qgis-desktop:
    image: kartoza/qgis-desktop:latest
    ports:
      - '3009:80'
    environment:
      - DISPLAY=:99
    volumes:
      - ./data/qgis:/projects
    networks:
      - qgis_net
  #  ollama:
  #    image: ollama/ollama:latest
  #    container_name: 'ah-ollama'
  #    ports:
  #      - '11434:11434'
  #    volumes:
  #      - ./ollama:/root/.ollama
  #    env_file:
  #      - ./docker.env
  #    networks:
  #      - llm_net
  #  ollama-ui:
  #    image: ghcr.io/open-webui/open-webui:main
  #    container_name: 'ah-ollama-ui'
  #    volumes:
  #      - ./ollama/ollama-webui:/app/backend/data
  #    depends_on:
  #      - ollama
  #    ports:
  #      - 8080:8080
  #    env_file:
  #      - ./docker.env
  #    networks:
  #      - llm_net
  auth-gate:
    container_name: 'ah-auth-gate'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-auth-gate:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`agrohub.miss-click.ru`) && PathPrefix(`/api`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls.certresolver=le"
      - "traefik.http.services.api.loadbalancer.server.port=4000"
    ports:
      - '4000:4000'
    depends_on:
      - auth-proxy
    networks:
      - service_net
      - keycloak_net
  gpt-service:
    container_name: 'ah-gpt-service'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-gpt-service:latest
    ports:
      - '4001:4001'
    depends_on:
      - auth-gate
    networks:
      - service_net
      - llm_net
  auth-proxy:
    container_name: 'ah-auth-proxy'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-auth-proxy:latest
    ports:
      - '4002:4002'
    depends_on:
      - keycloak
    networks:
      - service_net
      - keycloak_net
  fields-service:
    container_name: 'ah-fields-service'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-fields-service:latest
    ports:
      - '4003:4003'
    depends_on:
      - auth-gate
    networks:
      - service_net
  recommendation-service:
    container_name: 'ah-crop-recommendation'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-recommendation-service
    ports:
      - '4004:4004'
    depends_on:
      - auth-gate
    networks:
      - service_net
  culture-service:
    container_name: 'ah-culture-service'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-culture-service:latest
    ports:
      - '4005:4005'
    depends_on:
      - auth-gate
    networks:
      - service_net
  ground-service:
    container_name: 'ah-ground-service'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-ground-service:latest
    ports:
      - '4006:4006'
    depends_on:
      - auth-gate
    networks:
      - service_net
  dashboard-service:
    container_name: 'ah-dashboard-service'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-dashboard-service:latest
    ports:
      - '4007:4007'
    depends_on:
      - auth-gate
    networks:
      - service_net
  organization-service:
    container_name: 'ah-organization-service'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-organization-service:latest
    ports:
      - '4008:4008'
    depends_on:
      - auth-gate
    networks:
      - service_net
  calculator-service:
    container_name: 'ah-calculator-service'
    image: cr.yandex/crpg4i3auefpfdaso0pg/agrohub-calculator-service:latest
    ports:
      - '4009:4009'
    depends_on:
      - auth-gate
    networks:
      - service_net
volumes:
  postgres-data:
networks:
  qgis_net:
    driver: bridge
  keycloak_net:
    driver: bridge
  llm_net:
    driver: bridge
  service_net:
    driver: bridge